{{#each posts}} 
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <span><h5 class="card-title">{{title}}</h5></span> <span align="right"> <b>{{format_date dateCreated}}</b></span>
    <p class="card-text">{{body}}</p>
    <a href="/dashboard/edit/{{id}}"  class="btn btn-primary">Edit Post</a>
  </div>
</div>
 {{/each}}   
    
    
    
    
    
    
   